$color_1: red;
$color_2:blue;
.menu {
	padding: 0px;
	list-style: none;
	margin: 0px;
	width: 169px;
	text-align: left;
	padding-left: 28px;
	padding-top: 27px;
	border-right: 1px solid $color_2;
	height: 80vh;
	li {
		margin-bottom: 13px;
		a {
			text-transform: capitalize;
			color: $color_1;
			text-decoration: none;
			text-align: left;
		}
	}
}